<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tail.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>6</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>head-nose.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>13</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>head-mouth.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>31</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>head-eye-right.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>head-eye-left.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>57</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>head-outline.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>foot-before-right.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>body-top.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>foot-behind-right.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>body-bottom.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>foot-before-left.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>foot-behind-left.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>267</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>CNM0.png</string>
			<key>realTextureFileName</key>
			<string>CNM0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>